<template>
    <div>
        <Header></Header>
        <!-- Start Intro Area -->
        <div class="intro-area intro-area-4">
            <div class="bg-wrapper">
            	<img src="../../../../statics/public/Home-4 _ Dilorn_files/bgp3.png" alt="">
            </div>
			<div class="intro-content">
				<div class="slider-content text-center">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<!-- layer 1 -->
								<div class="layer-1 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                    <h2 class="title2">Lightweight work managent tool for teams that move fast.</h2>
								</div>
								<!-- layer 3 -->
								<div class="layer-3 wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
									<a href="javascript:void(0)" @click="webPage('/register')" class="ready-btn left-btn">Try for Free</a>
								</div>
								<div class="slide-images-inner wow fadeInRight" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
								    <div class="slide-images">
								        <img src="../../../../statics/public/Home-4 _ Dilorn_files/s3.png" alt="">
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <!-- End Intro Area -->
         <!-- Start Brand Area -->
        <div class="brand-area bg-color brand-area-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="brand-content">
						<div class="brand-items brand-carousel owl-carousel owl-theme owl-loaded">
								

							<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1190px, 0px, 0px); transition: all 0s ease 0s; width: 3966.66px;"><div class="owl-item cloned" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/3.png" alt=""></a>
								</div></div><div class="owl-item cloned" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/4.png" alt=""></a>
								</div></div><div class="owl-item cloned" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/5.png" alt=""></a>
								</div></div><div class="owl-item cloned" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/6.png" alt=""></a>
								</div></div><div class="owl-item cloned" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/1.png" alt=""></a>
								</div></div><div class="owl-item cloned" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/2.png" alt=""></a>
								</div></div><div class="owl-item active" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/1.png" alt=""></a>
								</div></div><div class="owl-item active" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/2.png" alt=""></a>
								</div></div><div class="owl-item active" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/3.png" alt=""></a>
								</div></div><div class="owl-item active" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/4.png" alt=""></a>
								</div></div><div class="owl-item active" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/5.png" alt=""></a>
								</div></div><div class="owl-item active" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/6.png" alt=""></a>
								</div></div><div class="owl-item active" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/1.png" alt=""></a>
								</div></div><div class="owl-item" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/2.png" alt=""></a>
								</div></div><div class="owl-item cloned" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/1.png" alt=""></a>
								</div></div><div class="owl-item cloned" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/2.png" alt=""></a>
								</div></div><div class="owl-item cloned" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/3.png" alt=""></a>
								</div></div><div class="owl-item cloned" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/4.png" alt=""></a>
								</div></div><div class="owl-item cloned" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/5.png" alt=""></a>
								</div></div><div class="owl-item cloned" style="width: 148.333px; margin-right: 50px;"><div class="single-brand-item">
									<a href="#"><img src="../../../../statics/public/Home-4 _ Dilorn_files/6.png" alt=""></a>
								</div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Area -->
        <!-- Start About Area -->
        <div id="pmngt" class="about-area fix area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="about-content">
                            <div class="about-images">
                                <img src="../../../../statics/public/Home-4 _ Dilorn_files/ab3.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="about-text">
                            <h3>Project Management</h3>
							<p>Our Board is an incredible visual tool that provides an overview of the current work status, designed to simplify team communication and efficiency in performing tasks.</p>
						    <p>In the board, the workflow is displayed as a sequence of steps representing tasks from the beginning to the end of the project. Viewing the workflow allows a team to map all work steps in the Board columns and track work tasks as they move through them.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About Area -->
		<!-- Start feature area -->
		<div id="tmngt" class="feature-area-3 bg-color area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="feature-inner wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="feature-text">
								<h3>Task Management</h3>
						    	<p>Using a four quadrant to-do list, tasks are organised by priority so that teams can see immediately what they need to do and which tasks to prioritize.</p>
                               	<h4>Different views for your tasks</h4>
                                <ul>
                                    <li><a href="#"><span><i class="flaticon-app"></i></span>Board view</a></li>
                                    <li><a href="#"><span><i class="flaticon-file"></i></span>List view</a></li>
                                    <li><a href="#"><span><i class="flaticon-calendar-1"></i></span>Calender view</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="feature-image wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                           <img src="../../../../statics/public/Home-4 _ Dilorn_files/ab5.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end Row -->
            </div>
        </div>
		<!-- End feature area -->
        <!-- Start Services Area -->
        <div id="features" class="services-area bg-color area-padding-2">
			<div class="container">
			    <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
                            <h3>Features</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="row agency-services">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-service">
									<div class="single-service-inner">
										<div class="service-content">
											<div class="service-icon">
												<a href="javascript:void(0)"><i class="flaticon-price-tag"></i></a>
											</div>
											<div class="service-text">
												<h4>Task Labels</h4>
												<p>Classify tasks with color-coded labels.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End column -->
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-service">
									<div class="single-service-inner">
										<div class="service-content">
											<div class="service-icon">
												<a href="javascript:void(0)"><i class="flaticon-picture"></i></a>
											</div>
											<div class="service-text">
												<h4>Personalized backgrounds</h4>
												<p>Choose the background image for your project board.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End column -->
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-service">
									<div class="single-service-inner">
										<div class="service-content">
											<div class="service-icon">
												<a href="javascript:void(0)"><i class="flaticon-exit"></i></a>
											</div>
											<div class="service-text">
												<h4>Transferable projects</h4>
												<p>Transfer projects to other user accounts.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End column -->
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-service">
									<div class="single-service-inner">
										<div class="service-content">
											<div class="service-icon">
												<a href="javascript:void(0)"><i class="flaticon-archive-1"></i></a>
											</div>
											<div class="service-text">
												<h4>Archived tasks</h4>
												<p>Archive tasks to declutter your boards.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End column -->
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-service">
									<div class="single-service-inner">
										<div class="service-content">
											<div class="service-icon">
												<a href="javascript:void(0)"><i class="flaticon-controls-4"></i></a>
											</div>
											<div class="service-text">
												<h4>Powerful filters</h4>
												<p>User powerful filters to quickly locate tasks on the project board.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End column -->
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-service">
									<div class="single-service-inner">
										<div class="service-content">
											<div class="service-icon">
												<a href="javascript:void(0)"><i class="flaticon-document"></i></a>
											</div>
											<div class="service-text">
												<h4>Report generation</h4>
												<p>Generate reports and have them sent to your inbox.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End column -->
						</div>
                    </div>
				</div>
			</div>
		</div>
        <!-- End Services Area -->

        <!-- Start Footer Area -->
        <Footer></Footer>
        <!-- End Footer Area -->
    </div>
</template>
