 <template>
    <div>
        <Header></Header>
        <!-- Start Slider Area -->
        <div class="login-area area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="login-page">
                            <div class="login-image">
                                <div class="log-inner">
                                    <img src="../../../../statics/public/Home-4 _ Dilorn_files/ab2.jpg" alt="">
                                </div>
                            </div>
                            <div class="login-form">
                                <h4 class="login-title">{{$L(loginType=='reg'?'Register':'Login')}}</h4>
                                <div class="row">
                                    <form ref="login" :model="formLogin" class="log-form">
                                        <div v-if="message!=''" class="col-md-12 col-sm-12 col-xs-12">
                                            <div :class="'alert alert-'+ messageType" role="alert">{{ message }}</div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" id="name" prop="username" v-model="formLogin.username" class="form-control" placeholder="Username" required="" data-error="Please enter your username">
                                        </div>
                                        <div v-if="loginType=='reg'" class="col-md-12 col-sm-12 col-xs-12">
                                            <input type="email" prop="email" v-model="formLogin.email" class="form-control" placeholder="Email" required="" data-error="Please enter your email">
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input type="password" prop="userpass" v-model="formLogin.userpass" class="form-control" placeholder="Password" required="" data-error="Please enter your password">
                                        </div>
                                        <div v-if="loginType=='reg'" class="col-md-12 col-sm-12 col-xs-12">
                                            <input type="password" prop="userpass2" v-model="formLogin.userpass2" class="form-control" placeholder="Confirm Password" required="" data-error="Please confirm your password">
                                        </div>
                                        <div v-if="loginType=='login'" class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="check-group flexbox">
                                                <label class="check-box">
                                                    <input type="checkbox" class="check-box-input" checked="">
                                                    <span class="remember-text">Remember me</span>
                                                </label>

                                                <a class="text-muted" href="http://rockstheme.com/rocks/dilorn-preview/dilorn/login.html#">Forgot password?</a>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <button type="button" id="submit" class="slide-btn login-btn" @click="onLogin">{{$L(loginType=='reg'?'Register':'Login')}}</button>
                                            <div id="msgSubmit" class="h3 text-center hidden"></div> 
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="clear"></div>
                                            <div>
                                                <div v-if="loginType=='reg'" class="acc-not">Already have an account  <a href="javascript:void(0)" @click="loginType='login'"> Log in</a></div>
                                                <div v-if="loginType=='login'" class="acc-not">Don't have an account  <a href="javascript:void(0)" @click="loginType='reg'"> Sign up</a></div>
                                            </div> 
                                        </div> 
                                    </form> 
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <!-- Start Footer Area -->
        <Footer></Footer>
        <!-- End Footer Area -->

    </div>
</template>
<script>
export default {
    data () {
        return {
            loginType: 'login',
            message: '',
            messageType: 'success',

            formLogin: {
                username: '',
                email: '',
                userpass: '',
                userpass2: ''
            },
            ruleLogin: {},

            systemConfig: $A.jsonParse($A.storage("systemSetting"), {
                logo: '',
                github: '',
                reg: '',
            }),

            fromUrl: '',
        }
    },
    mounted() {
        var routeName = this.$route.name;
        
        if(routeName === 'register'){
            this.loginType = 'reg'
        }
    },
    methods: {
        onLogin() {
            
            // this.$refs.login.validate((valid) => {
                var valid = true;
                if (valid) {
                    this.loadIng++;
                    $A.ajax({
                        url: $A.apiUrl('users/login?type=' + this.loginType),
                        data: this.formLogin,
                        complete: () => {
                            this.loadIng--;
                        },
                        success: (res) => {
                            if (res.ret === 1) {
                                $A.storage("userInfo", res.data);
                                $A.setToken(res.data.token);
                                $A.triggerUserInfoListener(res.data);
                                //
                                //this.loadIng--;
                                //this.$refs.login.resetFields();
                                //this.$Message.success(this.$L('login successful'));
                                this.message = 'Login successful.';
                                this.messageType = 'success';
                                
                                if (this.fromUrl) {
                                    console.log('from url');
                                    window.location.replace(this.fromUrl);
                                } else {
                                    
                                    //this.goForward({path: '/todo'}, true);
                                    window.location.replace('/todo');
                                    //window.location.href = 'http://127.0.0.1:8000/todo';
                                }
                            } else {
                                this.message = res.msg;
                                this.messageType = 'danger';
                                /* this.$Modal.error({
                                    title: this.$L("温馨提示"),
                                    content: res.msg
                                }); */
                            }
                        }
                    })
                }
            //})
        }      
    }
}
</script>