<template>
        
        <header class="header-one">
            <!-- header-area start -->
            <div id="sticker" class="header-area header-area-2 hidden-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <!-- logo start -->
                                <div class="col-md-3 col-sm-3">
                                    <div class="logo">
                                        <!-- Brand -->
                                        <a class="navbar-brand page-scroll black-logo" href="/">
                                            <img src="../../../../statics/public/Home-4 _ Dilorn_files/logo.png" alt="">
                                        </a>
                                    </div>
                                    <!-- logo end -->
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <div class="header-right-link">
                                        <!-- search option end -->
                                        <a class="s-menu" href="javascript:void(0)" @click="webPage('login')">Sign in</a>
                                    </div>
                                    <!-- mainmenu start -->
                                    <nav class="navbar navbar-default">
                                        <div class="collapse navbar-collapse" id="navbar-example">
                                            <div class="main-menu">
                                                <ul class="nav navbar-nav navbar-right">
                                                    <li><a href="/">Home</a></li>
                                                    <li><a class="pagess" href="#">Solutions</a>
                                                        <ul class="sub-menu">
                                                            <li><a href="#pmngt">Project Management</a></li>
                                                            <li><a href="#tmngt">Task Management</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#features">Features</a></li>
                                                    <li><a href="#contacts">contacts</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                    <!-- mainmenu end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-area end -->
            <!-- mobile-menu-area start -->
            <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <div class="logo">
                                    <a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/index.html"><img src="../../../../statics/public/Home-4 _ Dilorn_files/logo.png" alt=""></a>
                                </div>
                                <nav id="dropdown" style="display: block;">
                                    <ul>
                                        <li><a class="pagess" href="http://rockstheme.com/rocks/dilorn-preview/dilorn/index.html">Home</a>
                                            <ul class="sub-menu">
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/index.html">Startup</a></li>
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/home-2-agency.html">Agency</a></li>
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/home-3-studio.html">Business Studio</a></li>
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/home-4-saas.html">Saas</a></li>
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/home-5-business.html">Business</a></li>
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/home-6-apps.html">Apps</a></li>
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/home-7-personal.html">Personal</a></li>
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/home-8-software.html">Software</a></li>
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/home-9-hosting.html">Hosting</a></li>
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/home-10-product.html">Product Landing</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="pagess" href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/about.html">About</a></li>
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/team.html">team</a></li>
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/faq.html">FAQ</a></li>
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/review.html">Review</a></li>
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/pricing.html">Pricing</a></li>
                                                <li><a href="/login">Login</a></li>
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/signup.html">Register</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/services.html">Services</a></li>
                                        <li><a class="pagess" href="#">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/blog.html">Blog grid</a></li>
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/blog-sidebar.html">Blog Sidebar</a></li>
                                                <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="http://rockstheme.com/rocks/dilorn-preview/dilorn/contact.html">contacts</a></li>
                                    </ul>
                                </nav>
                            </div>					
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile-menu-area end -->		
        </header>
        <!-- header end -->
</template>
<script>
    export default {
        name: 'Header',
        methods: {
            webPage(path) {
                this.goForward({path: '/' + path});
            }
        }
    }
</script>