
@media (min-width: 1919px) {

	
	
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1269px) {	  
.layer-1 h2 {
    font-size: 40px;
    line-height: 50px;
}
.well-services {
    margin: 0px 5px;
}    
.about-text {
    margin-top: 10px;
}    
.intro-area-2 .intro-content,
.intro-area-3 .intro-content{
    margin-top: -120px;
}    
.intro-area-3 .layer-1, 
.intro-area-3 .layer-2, 
intro-area-3 .layer-3 {
    margin-left: 0px;
}          
.intro-area-4 .intro-content {
    margin-top: -150px;
}       
.intro-area-4 .slide-images {
    margin: 30px 70px 0px;
}
.brand-area-3 {
    margin-top: 270px;
}
.choose-text {
    margin-top: 0px;
}    
.add-content h3 {
    font-size: 28px;
    line-height: 40px;
    max-width: 610px;
}    
.right-side {
    padding-left: 10px;
}    
.feature-text ul li:nth-child(1), .feature-text ul li:nth-child(3), .feature-text ul li:nth-child(5) {
    padding-right: 10px;
}     
.feature-text ul li:nth-child(2), .feature-text ul li:nth-child(4), .feature-text ul li:nth-child(6) {
    padding-left: 10px;
}    
.feature-text ul li a {
    font-size: 16px;
}
.intro-area-6 .intro-content {
    margin-top: -200px;
}    
.intro-area-6 .slide-img {
    width: 90%;
}    
.app-text {
    margin-top: 100px;
}    
.header-right-link {
    margin-left: 120px;
}    
.intro-content {
    margin-top: -130px;
}    
.pricing-area-3 .base {
    right: -56px;
    top: 20px;
}    
.intro-area-9 .layer-1 h2 {
    font-size: 36px;
    line-height: 48px;
}    
.self-details {
    padding: 30px 10px;
}    
.single-self > h4 {
    font-size: 18px;
}    
    
    
    
    
}




/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.logo a {
    padding: 17px 0;
}
.header-area.stick .logo a {
    padding: 12px 0;
}
.header-right-link {
    width: 110px;
    margin-left: 10px;
    padding: 30px 0px;
}
.header-area.stick .header-right-link {
     padding: 22px 0px;
}
.intro-area-2 .layer-1 h2,
.intro-area-3 .layer-1 h2,
.layer-1 h2 {
    font-size: 32px;
    line-height: 42px;
    max-width: 338px;
    margin-bottom: 10px;
}
.layer-2 p {
    font-size: 13px;
    line-height: 26px;
    max-width: 400px;
    margin-bottom: 0px;
}
.intro-content {
    margin-top: -120px;
}
.intro-area-2 .intro-content {
    margin-top: -100px;
}
.ready-btn {
    padding: 10px 20px;
}
.main-menu ul.navbar-nav li a{
    padding: 30px 7px;
}
.header-area.stick .main-menu ul.navbar-nav li a {
    padding: 25px 7px;
}
.main-menu ul.nav li .mega-menu {
    width: 720px;
    left: -54%;
}
.main-menu > ul.navbar-nav >li >a::before,
.header-area.stick .main-menu > ul.navbar-nav >li >a::before {
    left: 9px;
    bottom: 25px;
}
.about-text {
    margin-top: 0px;
}
.about-text h3 {
    font-size: 26px;
    line-height: 32px;
}
.top-price-inner h4 {
    font-size: 22px;
}
.blog-content a h4 {
    font-size: 21px;
}
.blog-search-option input {
    width: 69%;
}	
.prices {
    font-size: 34px;
}		      
.support-all {
    margin-left: 10px;
}              
.footer-list {
    width: 100%;
    float: none;
}
.footer-list li a {
    font-size: 15px;
}       
.bg-wrapper img {
    width: 100%;
    height: 100%;
    min-height: 500px;
    object-fit: cover;
}
.intro-area .bg-wrapper {
    float: none;
    width: 100%;
    height: 100%;
    min-height: 460px;
}
.well-services.first-item, .well-services.thired-item {
    position: relative;
    top: 0px;
}
.welcome-area {
    padding: 100px 0px;
}
.well-services {
    margin: 0px;
}   
.table-list {
    padding: 30px 20px;
}   
.blog-right-column .blog-content {
    min-height: 245px;
}
.faq-area .faq-content {
    margin-left: 35px;
}    
.panel-group .panel+.panel {
    margin-top: 10px;
}    
.contact-head {
    padding: 40px 10px 10px 15px;
    margin-right: 0px;
}    
.contact-head p {
    font-size: 14px;
}   
.feature-inner {
    margin-top: 0px;
}    
.feature-text ul li {
    float: none;
    width: 100%;
}    
.feature-text ul li:nth-child(2), .feature-text ul li:nth-child(4), .feature-text ul li:nth-child(6) {
    padding-left: 0px;
}
.feature-text ul li:nth-child(1), .feature-text ul li:nth-child(3), .feature-text ul li:nth-child(5) {
    padding-right: 0px;
}
.feature-image {
    margin-left: 0px;
}        
.intro-area-4 .intro-content {
    margin-top: -140px;
}    
.intro-area-4 .slide-images {
    margin: 30px 70px 0px;
}
.intro-area-4 .layer-1 h2 {
    font-size: 34px;
    line-height: 44px;
    max-width: 510px;
}
.add-content h3 {
    font-size: 26px;
    line-height: 36px;
    max-width: 570px;
    margin-bottom: 30px;
    margin-top: 0px;
}    
.choose-text {
    margin-top: 0px;
}    
.choose-text h3 {
    font-size: 24px;
}    
.breadcrumb {
    padding: 170px 0px 130px;
}    
.blog-right-column .blog-image {
    float: none;
    width: 100%;
}    
.blog-right-column .blog-content {
    min-height:auto;
    width: 100%;
}    
.right-side {
    padding-left: 0px;
}    
.recent-single-post .post-img {
    display: none;
}    
.pst-content {
    padding-left: 0px;
}   
.contact-page .contact-icon {
    padding: 40px 15px 30px;
}
.contact-page .single-icon p {
    font-size: 13px;
    line-height: 26px;
}    
.sign-icon ul li a {
    font-size: 14px;
    padding: 0px 10px 0px 0px;
}    
.intro-area-6 .intro-content {
    margin-top: -140px;
}    
.intro-area-6 .layer-1 h2 {
    font-size: 28px;
    line-height: 40px;
}    
.app-text {
    margin-top: 80px;
}       
.personal-about-inner h4 {
    font-size: 22px;
}    
.intro-area-7 .layer-1 h2{
    max-width: 100%;
}    
.ab-btn {
    margin-top: 15px;
} 
.digital-services {
    width: 25%;
}    
.overview-content {
    margin-left: 0px;
    margin: 0px 80px;
}
.intro-area-9 .layer-1 h2 {
    font-size: 26px;
    line-height: 38px;
}    
.intro-area-9 .intro-content {
    margin-top: -100px;
}
.search-content {
    margin-right: 0px;
    text-align: center;
    margin-bottom: 30px;
}
.domain-indicate {
    margin-top: 20px;
    text-align: center;
}    
.self-icon {
    float: none;
    margin-right: 0px;
    display: block;
}    
.single-self p {
    padding-left: 0px;
}    
.intro-area-10 .layer-1 h2{
    font-size: 30px;
    line-height: 42px;
}    
.product-slide {
    margin-top: 0px;
}    
.intro-area-10 .intro-content {
    margin-top: -110px;
}   
    
    
    
    
    
    
    
    
    
    
    
	
	
}

/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.logo {
    height: inherit;
    left: 0;
    padding: 0;
    position: absolute;
    top: 2px;
    z-index: 999999;
    max-width: 130px;
}
.logo a,
.header-two .logo a{
    padding: 0px;
}
.intro-bg{
	display: none;
}
.intro-area .bg-wrapper {
    float: none;
    width: 100%;
    height: 100%;
    min-height: 600px;
}
.bg-wrapper img {
    width: 100%;
    height: 100%;
    min-height: 660px;
    object-fit: cover;
}
.intro-content {
    margin-top: -210px;
}
.intro-area-2 .intro-content {
    margin-top: -210px;
}
.layer-1 h2
.intro-area-2 .layer-1 h2,
.intro-area-3 .layer-1 h2 {
    font-size: 25px;
    line-height: 36px;
}
.layer-2 p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}
.ready-btn {
    padding: 10px 20px;
}
.slide-img {
    margin-top: 40px;
}
.intro-area-2 .slide-img {
    margin-top: 0px;
    margin-bottom: 40px;
}
.intro-area-3 .slide-img {
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 40px;
}
.intro-area-3 .layer-1,
.intro-area-3 .layer-2,
.intro-area-3 .layer-3{
    margin-left:0px; 
}
.intro-area-4 .layer-1 h2 {
    font-size: 25px;
    line-height: 36px;
}
.intro-area-4 .bg-wrapper {
    float: none;
    width: 100%;
    height: 100%;
    min-height: 440px;
}
.intro-area-4 .bg-wrapper img {
    width: 100%;
    height: 100%;
    min-height: 440px;
    object-fit: cover;
}
.intro-area-4 .intro-content {
    margin-top: -60px;
}
.intro-area-4 .layer-3{
    margin: 20px 0px 40px;
}
.welcome-area {
    position: relative;
    padding: 100px 0px;
}
.left-headline h3 {
    font-size: 26px;
}
.about-text {
    margin-top: 30px;
}
.services-image{
    margin: 60px 0px;
}
.well-services.first-item, 
.well-services.thired-item {
    position: relative;
    top: 0px;
}
.well-services {
    margin: 15px 0px;
}
.table-list {
    padding: 40px 30px;
}
.faq-area .faq-content {
    margin-left: 0px;
    margin-top: 40px;
}
.portfolio-single {
    width: 100%;
    float: none;
}
.feature-inner {
    margin-top: 0px;
}
.feature-text h3 {
    font-size: 25px;
    line-height: 36px;
}
.feature-text ul li {
    float: none;
    width: 100%;
}
.feature-text ul li:nth-child(1), .feature-text ul li:nth-child(3), .feature-text ul li:nth-child(5) {
    padding-right: 0px;
}
.feature-text ul li:nth-child(2), .feature-text ul li:nth-child(4), .feature-text ul li:nth-child(6) {
    padding-left: 0px;
}
.feature-image {
    margin-left: 0px;
    margin-top: 40px;
}
.contact-head {
    padding: 30px 10px 10px 15px;
    margin-right: 0px;
    margin-bottom: 40px;
}
.contact-head p {
    font-size: 14px;
}
.fun_text {
    margin-bottom: 60px;
}
.footer-content {
    margin-bottom: 50px;
    overflow: hidden;
}
.last-content{
	margin-bottom: 0px;
}		
.recent-post .post-img {
    display: none;
}	
.recent-post .pst-content {
    float: none;
    width: 100%;
    padding-left: 0px;
}	
.blog-search-option input {
    width: 75%;
}	
.comments-list-img {
    width: 60px;
    height: auto;
}	                    
.footer-head.logo-head {
    text-align: left;
}
.breadcrumb h3 {
    font-size: 32px;
    line-height: 40px;
}       
.breadcrumb ul li {
    font-size: 16px;
}    
.blog-details .blog-content {
    border: none;
    padding: 30px 15px;
}       
blockquote {
    padding: 20px 20px 40px 50px;
}    
blockquote::before {
    left: 15px;
    font-size: 30px;
}    
.related-post-list .recent-single-post {
    width: 100%;
    float: none;
    padding: 0px 0px 0px 0px;
}    
.section-headline h3 {
    font-size: 26px;
    line-height: 36px;
}   
.blog-meta span {
    font-size: 13px;
    padding-right: 5px;
}   
.footer-list li a {
    font-size: 14px;
}    
.footer-area {
    background-position: top center;
    background-size: contain;
}           
.about-text h3 {
    font-size: 24px;
}
.blog-right-column .blog-image {
    overflow: hidden;
    float: none;
    width: 100%;
}   
.blog-right-column .blog-content {
    width: 100%;
}   
.subs-form input#name {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px !important;
}
.subs-form input#email {
    width: 100%;
    border: 1px solid #ccc;
}
.subscribe-area .subs-form {
    padding: 0px 0px 10px;
}    
.subs-form button#submit {
    width: 100%;
    margin-top: 20px;
}    
.subscribe-area form#contactForm {
    border: none;
}    
.intro-area-5 .layer-1 h2 {
    font-size: 22px;
    line-height: 34px;
}   
.overview-inner {
    padding-right: 0px;
}
.overview-inner h3 {
    font-size: 22px;
    line-height: 34px;
}
.overview-images {
    margin-top: 40px;
}
.add-content h3 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 40px;
    margin-top: 0px;
}
.call-us {
    font-size: 17px;
}      
.breadcrumb {
    padding: 170px 0px 130px;
}    
.choose-image {
    padding-right: 0px;
}    
.choose-text {
    margin-top: 30px;
}
.choose-text h3 {
   font-size: 24px;
}
.choose-area-2 .choose-image {
    padding-left: 0px;
    padding-right: 0px;
}
.clients-text {
    padding: 40px 20px;
}
.right-side {
    padding-left: 0px;
    margin-top: 50px;
}    
.blog-details .blog-content h4 {
    font-size: 20px;
    line-height: 30px;
}    
.related-post-list .recent-single-post:last-child {
    padding: 30px 0px 0px 0px;
}    
.threaded-comments {
    margin-left: 20px;
}    
.contact-page .contact-icon {
    margin-bottom: 30px;
}   
.contact-page .contact-images {
    margin: 50px 0px;
}   
.login-image {
    display: none;
}    
.login-form {
    padding: 30px 10px;
}    
.sign-icon ul li a {
    padding: 0px 8px 0px 0px;
    font-size: 13px;
}    
.intro-area-6 .slide-img {
    margin-top: 0px;
    width: 85%;
    margin: auto;
}   
.app-text {
    margin-top: 20px;
}
.intro-area-6 .layer-1 h2 {
    font-size: 22px;
    line-height: 34px;
}
.app-btn .ready-btn {
    padding: 10px 15px 10px 30px;
    width: 132px;
}
.right-btn {
    margin-left: 0px;
}
.screen-carousel .owl-item{
    opacity: 1;
}    
.screen-carousel .owl-stage-outer {
    padding: 0px;
}
.intro-area-7 .layer-1 h2 {
    font-size: 25px;
    line-height: 36px;
}    
.personal-slide h4.title-2 {
    font-size: 18px;
}    
.intro-area-7 .layer-2 p {
    font-size: 14px;
    line-height: 26px;
}    
.intro-area-7 .bg-wrapper,
.intro-area-7 .bg-wrapper img{
    float: none;
    width: 100%;
    height: 100%;
    min-height: 520px;
    object-fit: cover;
}    
.intro-area-7 .intro-content {
    margin-top: -120px;
}   
.personal-about-image {
    margin-right: 0px;
    margin-bottom: 40px;
}    
.personal-about-inner h4 {
    font-size: 22px;
}    
.intro-area-8 .layer-1 h2 {
    font-size: 23px;
    line-height: 36px;
}    
.digital-services {
    width: 100%;
    float: none;
}    
.digital-wel.s1-item:first-child {
    margin-left: 15px;
}    
.digital-wel.s5-item:last-child {
    margin-right: 15px;
}    
.digital-wel {
    margin:15px;
}    
.soft-overview .overview-inner h3 {
    font-size: 20px;
}    
.overview-content {
    margin-left: 0px;
    margin-top: 50px;
}    
.view-inter {
    padding: 40px 15px;
    margin-left: 0px;
    margin-top: 0px;
}    
.view-inter h4{
    font-size: 20px;
}
.single-proses {
    margin-bottom: 50px;
}   
.last-item{
    margin-bottom: 0px;
}    
.intro-area-9 .layer-1 h2 {
    font-size: 21px;
    line-height: 34px;
}    
.search-content h3 {
    font-size: 24px;
} 
.host-sear-area .search-form {
    border-radius: 4px;
    display: block;
}
.host-sear-area .search-form input {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 4px;
    padding-left: 0;
    text-align: center;
}    
.host-sear-area .search-form .form-btn {
    width: 100%;
    border-radius: 0;
}    
.name-ext {
    word-spacing: 13px;
    margin-left: 0px;
}    
.tab-text h4 {
    font-size: 22px;
}   
.host-overview .overview-content {
    margin-left: 0px;
    margin-top: 50px;
}    
.host-overview .view-inter {
    padding: 40px 15px;
    margin-left: 0px;
    margin-top: 0px;
}    
.intro-area-9 .slide-img {
    margin-top: 0px;
    margin-bottom: 30px;
}    
.intro-area-10 .layer-1 h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
}    
.intro-area-10 .slide-img {
    margin-top: 0px;
}    
.product-slide {
    margin-top: 20px;
}    
.intro-area-10 .intro-content {
    margin-top: -210px;
}
.self-details {
    margin: 15px 0px;
}   
.product-about-image {
    margin-left: 0px;
    margin-top: 40px;
}    
    
    
    
    
    
    
    
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.digital-services {
    width: 50%;
    float: left;
}  
    
    
    
    
    
    
    
    
}
 
