/*-----------------------------------------------------------------------------------

    Template Name: Dilorn - Creative HTML Template Saas & Agency
    Template URI: http://rockstheme.com
    Description: This is html5 template
    Author: Rocks_theme
    Author URI: http://rockstheme.com
    Version: 1.0

-----------------------------------------------------------------------------------*/

    /*-----------------------------------------------------------------------------------  
     CSS INDEX
    ===================

    1. Theme Default CSS (body, link color, section etc)
    2. Header Top Area
    2.1 Header Bottom Area 
    2.2. Sticky Header Area
    2.3. Mobile Menu Area
    3. Intro Area
    4.Welcome Services Area
    5.Brand Area
    6.About Area
    7. Pricing area css
    8.Reviews Area Css
    9. Blog Area
    10. Subscribe Area
    11. Footer Area
    12. Breadcumbs Area
    13. Team Area
    14. Login And Register page
    15. Blog Sidebar Area
    16. Blog Details
    17.Contact CSS
    18.	Home area-2
    18.1. FAQ  Area
    19.	Home area-3
    19.1. Portfolio Area
    19.2. Contact area css
    20.	Home area-4 
    21. Home area-5
    22.Home-6 Apps
    23.Home-7 Personal
    24.Home-8 Software
    25.Home-9 Hosting
    26.Home-10 Product


   
    
-----------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*  Google Fonts
/*----------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700,800,900&display=swap');


/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
html, body {
	height: 100%;
}
.floatleft {
	float:left;
}
.floatright {
	float:right;
}
.alignleft {
	float:left;
	margin-right:15px;
	margin-bottom: 15px;
}
.alignright {
	float:right;
	margin-left:15px;
	margin-bottom: 15px;
}
.aligncenter {
	display:block;
	margin:0 auto 15px;
}
a:focus {
	outline:0px solid;
}
img {max-width:100%;
	height:auto;
}
.fix {
	overflow:hidden;
}
p {
	margin:0 0 15px;
    color: #7e8ca0;
}
h1, h2, h3, h4, h5, h6 {
     font-family: 'Poppins', sans-serif;
	margin: 0 0 15px;
	color: #151b2c;
    font-weight: 500;
}
h1{
	font-size: 48px;
	line-height: 50px;
		
}
h2{
	font-size: 38px;
	line-height: 46px;
		
}
h3{
	font-size: 30px;
	line-height: 38px;
		
}
h4{
	font-size: 24px;
	line-height: 34px;
		
}
h5{
	font-size: 20px;
	line-height: 30px;
		
}
h6{
	font-size: 16px;
	line-height: 28px;
		
}
a {
	transition: all 0.3s ease 0s;
	text-decoration:none;
}
a:hover {
  color: #495fd7;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
a:hover, a:focus {
    color: #3d5368;
    text-decoration: none;
}
body {
	background: #fff none repeat scroll 0 0;
	color: #7e8ca0;
     font-family: 'Poppins', sans-serif;
	font-size: 15px;
	text-align: left;
	overflow-x: hidden;
	line-height: 26px;
}
#scrollUp {
    bottom: 80px;
    font-size: 20px;
    line-height: 42px;
    right: 30px;
    width: 44px;
    background-color: #fff;
    color: #0a27d5;
    text-align: center;
    height: 44px;
    border-radius: 3px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
#scrollUp:hover {
    bottom: 90px;
    transition-duration: 500ms;
}
.clear{
	clear:both;
}
ul{
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
input, select, textarea, input[type="text"], input[type="date"], input[type="url"], input[type="email"], input[type="password"], input[type="tel"], button, button[type="submit"] {
	-moz-appearance: none;
	box-shadow: none !important;
}
input:focus, textarea:focus, select:focus {
    outline: none;
}
div#preloader { 
	position: fixed;
	left: 0; 
	top: 0; 
	z-index: 99999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #fff url('img/logo/preloader.gif') no-repeat center center;
}
.navbar-collapse {
    padding-left: 0px;
}
::-moz-selection {
    background: #495fd7;
    text-shadow: none;
}
::selection {
    background: #495fd7;
    text-shadow: none;
}
.bg-color{
    background:#fafafa;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.area-padding{
	padding: 100px 0px;
}
.area-padding-2{
	padding: 100px 0px 70px;
}
.area-padding-3{
	padding: 100px 0px 50px;
}
.section-headline {
    padding-bottom: 50px;
    position: relative;
}
.section-headline.review-head {
    padding-bottom: 20px;
}
.section-headline h3 {
    font-size: 34px;
    line-height: 40px;
}
.section-headline p {
    font-size: 15px;
    max-width: 510px;
    margin: 0px auto;
}
.white-headline h2{
   color:#fff; 
}
.section-headline h4 .color {
    color: #495fd7;
    font-weight: 600;
}
.mar-row{
    margin-top: 50px;
}
.color{
   color:#495fd7; 
}
.load-more-btn {
    text-transform: uppercase;
    background: #495fd7;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 3px;
    width: 200px;
	transition: 0.4s;
	border:2px solid #495fd7;
}
.load-more-btn:hover{
    background: #fff;
	border:2px solid #495fd7;
    color: #495fd7;
	transition: 0.4s;
}
.text-bold {
    font-weight: 800;
}
.simple-text{
    font-weight: 400;
}
.big-btn {
    width: 160px !important;
    font-size: 18px !important;
    padding: 15px 20px !important;
}
.big-btn:hover {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
.color-text{
    color: #495fd7
}
/*----------------------------------------*/
/*  2.1 Header Bottom Area 
/*----------------------------------------*/
.header-one {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
}
.header-area{
	background:transparent;
}
.logo {
    display: block;
}
.logo a {
    display: inline-block;
    height: auto;
    padding: 20px 0;
}
.center-bg {
    display: block;
    background: #fff;
    padding: 0px 20px 0px 0px;
}
.main-menu ul.navbar-nav li {
    float: left;
    position: relative;
}
.main-menu ul.navbar-nav li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 33px 15px;
    text-transform: capitalize;
    position: relative;
}
.main-menu > ul.navbar-nav >li >a::before {
    position: absolute;
    content: "";
    left: 16px;
    bottom: 25px;
    border: 1px solid #495fd7;
    width:0;
    transition: 0.4s;
    opacity: 0;
}
.header-area.stick .main-menu > ul.navbar-nav >li >a::before {
    left: 16px;
    bottom: 27px;
}
.main-menu > ul.navbar-nav >li >a:hover::before {
    width:50%;
    transition: 0.4s;
    opacity: 1;
}
.main-menu ul.navbar-nav li a:hover{
	color: #495fd7;
}
.main-menu ul.navbar-nav li.active a:focus {
    color: #fff;
}
.main-menu ul.navbar-nav li.active a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #495fd7;
    position: relative;
    z-index: 9999999;
}
.navbar {
    border: medium none;
    margin-bottom: 0;
}
.navbar-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.main-menu ul.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color:#fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
}
.main-menu ul.nav li ul.sub-menu {
    background: #fff;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 115%;
    transition: all 0.3s ease 0s;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    width: 200px;
    z-index: -99;
	padding: 10px 0px;
    border-radius: 3px;
}
.pagess {
    position: relative;
}
.navbar.navbar-default {
    float: right;
}
.main-menu ul.nav li ul.sub-menu li {
    padding: 0;
    position: relative;
    width: 100%;
}
.main-menu ul.nav li:hover ul.sub-menu{
    top:100%;
    opacity:1;
    z-index:999;
    visibility:visible;
}
.main-menu ul.nav li ul.sub-menu li a {
    color: #3d5368;
    display: block;
    font-size: 15px;
    padding: 5px 20px;
}
.main-menu ul.nav li ul.sub-menu li a span{
    color: #495fd7;
}
.main-menu ul.nav li:hover ul.sub-menu li a:hover{
    color:#495fd7;
}
.header-right-link {
    float: right;
    width: 115px;
    padding: 30px 0px;
    margin-left: 150px;
    text-align: right;
}
.slice-btn {
    display: inline-block;
    padding: 0px 15px;
}
.slice-btn span {
    font-size: 20px;
    font-weight: 500;
    color: #3d5368;
    cursor: pointer;
    line-height: 28px;
}
.s-menu {
    padding: 10px 25px;
    border: 1px solid #fff;
    background: #fff;
    color: #495fd7;
    transition: 0.4s;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
}
.s-menu:hover {
    border: 1px solid #495fd7;
    background: #495fd7;
	color:#fff;
    transition: 0.4s;
}
.header-area.stick  .header-right-link {
    padding: 27px 0px;
}
.logo a.black-logo {
    display: none;
}
/*--------------------------------*/
/* 2.2. Sticky Header Area
/*--------------------------------*/
.header-area.stick {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    box-shadow: 0px 0px 3px #ddd, -2px -2px 3px #ddd;
    background: #fff;
}
.header-area.stick .logo a {
    display: inline-block;
    height: auto;
    padding: 17px 0;
}
.header-area.stick .main-menu ul.navbar-nav li a {
    padding: 30px 15px;
    color: #3d5368;
}
.header-area.stick .main-menu ul.nav li ul.sub-menu li a {
    color: #3d5368;
    display: block;
    padding: 5px 15px;
}
.header-area.stick .main-menu ul.nav li ul.sub-menu li a:hover{
    color: #495fd7;
}
.header-area.stick .logo a.white-logo {
    display: none;
}
.header-area.stick .logo a.black-logo {
    display: block;
}
.header-area.stick .s-menu {
    border: 1px solid #495fd7;
    background: #495fd7;
    color: #fff;
    transition: 0.4s;
}
.header-area.stick .s-menu:hover{
    border: 1px solid #495fd7;
    background: #fff;
    color: #495fd7;
    transition: 0.4s;
}
/*----------------------------------------*/
/*  2.3. Mobile Menu Area
/*----------------------------------------*/
.mobile-menu-area {
    background: #fdfcfc none repeat scroll 0 0;
    padding: 10px 0px ;
}
.mean-container .mean-bar::after {
    content: "";
    font-size: 21px;
    left: 5%;
    position: absolute;
    top: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
.mean-container a.meanmenu-reveal:hover {
    color:#495fd7
}
.mean-container .mean-nav ul {
    list-style-type: none;
    margin: 20px 0px;
    padding: 0;
    width: 100%;
}
.mean-container .mean-nav ul li a {
    background: #fdfcfc none repeat scroll 0 0;
    color: #3d5368;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 13px 10px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    width: 90%;
}
.mean-nav ul li.mean-last {
    margin-bottom: 20px;
}
.mean-container .mean-nav ul li a.mean-expand {
    color: #3d5368;
    line-height: 17px;
}
.mean-container .mean-nav ul li {
    width: 99.7%;
}
/*----------------------------------------*/
/*  3. Intro Area
/*----------------------------------------*/
.intro-area{
	position: relative;
	overflow: hidden;
}
.intro-area{
    position: relative;
}
.bg-wrapper img,
.intro-bg img{
	max-width: 100%;
	height: auto;
}
.intro-bg img{
	opacity: 1;
}
.intro-area .intro-bg{
    position: absolute;
    top: 0px;
    min-height: 500px;
    z-index: 2;
}
.display-table{
	width: 100%;
	height: 100%;
	display: table;
}
.display-table-cell{
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.intro-content {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    margin-top: -160px;
}
.slider-content {
    position: relative;
}
.best-title {
    font-size: 17px;
    font-weight: 400;
    color: #495fd7;
}
.slide-icon {
    margin-right: 10px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    line-height: 48px;
    border: 1px solid #495fd7;
    color: #495fd7;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
}
.layer-2 p {
    font-size: 16px;
    line-height: 28px;
    max-width: 500px;
    color: #ddd;
}
.layer-1 h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.ready-btn {
    border: 1px solid #fff;
    color: #495fd7;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    padding: 12px 24px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
    background: #fff;
    border-radius: 3px;
}
.ready-btn:hover{
    color: #fff;
    background: #495fd7;
    border: 1px solid #495fd7;
    text-decoration: none;
    transition: all 0.4s ease 0s;
}
/*--------------------------------*/
/* 4.Welcome Services Area
/*--------------------------------*/
.welcome-area {
    position: relative;
    padding: 100px 0px 160px;
}
.services-list {
    padding-right: 80px;
}
.all-services{
	margin-bottom:60px;
}
.well-services {
    text-align: center;
    z-index: 1;
    overflow: hidden;
    transition: 0.4s;
}
.big-icon {
    font-size: 60px;
    display: inline-block;
    line-height: 70px;
    color: #151b2c;
    position: relative;
    z-index: 1;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    z-index: 1;
}
.big-icon::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0px;
    background: url(img/about/shape-bg.png);
    background-repeat: no-repeat;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.1;
}
.main-wel {
    padding: 20px 0px 0px;
}
.wel-content p {
    margin-bottom: 0px;
}
.wel-content h4 {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 0;
    padding: 0 0 10px;
    font-weight: 400;
}
.well-services:hover .big-icon {
    transition: 0.4s;
    color: #495fd7;
}
.well-services.first-item,
.well-services.thired-item{
    position: relative;
    top: 60px;
}
/*----------------------------------------
  5.Brand Area Css
----------------------------------------*/
.brand-content {
    overflow: hidden;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 60px 0px;
}
/*--------------------------------*/
/* 6.About Area
/*--------------------------------*/
.about-area {
    position: relative;
}
.about-text {
    margin-top: 70px;
}
.about-image {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.about-text h3 {
    font-size: 30px;
}
.about-text li {
    display: block;
    position: relative;
}
.about-text ul li a {
    font-size: 15px;
    color: #888;
    padding: 6px 0px 6px 35px;
    display: block;
}
.about-text li::after {
    position: absolute;
    left: 0px;
    top: 10px;
    content: "\e87a";
    font-family: dilorn;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background: #495fd7;
}
.ab-btn {
    padding: 8px 20px;
    border: 1px solid #ccc;
    background: #ccc;
    color: #151b2c;
    transition: 0.4s;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    margin-top: 30px;
    display: inline-block;
}
.ab-btn:hover{
    border: 1px solid #495fd7;
    background: #495fd7;
    color: #fff;
    transition: 0.4s;
}
.margin-row {
    margin-top: 60px;
}
/*----------------------------------------*/
/* 7. Pricing area css
/*----------------------------------------*/
.pricing-area{
    position: relative;
}
.title-icon {
    background: #fff;
    width: 50px;
    height: 50px;
    line-height: 48px;
    font-size: 24px;
    display: inline-block;
    border: 1px solid #495fd7;
    color: #495fd7;
    border-radius: 3px;
    margin-bottom: 20px;
}
.table-list {
    transition: all 0.4s ease 0s;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    border: 1px solid #f5f5f5;
    padding: 40px 50px;
    margin-bottom: 30px;
}
.top-price-inner {
    margin-bottom: 30px;
    z-index: 1;
    transition: all 0.4s ease 0s;
}
.top-price-inner h4 {
    font-size: 26px;
    text-transform: capitalize;
    margin-bottom: 30px;
    display: block;
    width: 100%;
}
.base {
    position: absolute;
    right: -37px;
    top: 33px;
    background: #495fd7;
    width: 180px;
    text-align: center;
    height: 30px;
    line-height: 28px;
    color: #fff;
    transform: rotate(45deg);
}
span.users {
    color: #495fd7;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
span.dolar {
    font-size: 24px;
    margin-right: 5px;
    position: relative;
    top: -17px;
    color: #6a7d91;
}
.prices {
    font-size: 40px;
    font-weight: 600;
    color: #151b2c;
    padding-right: 30px;
}
.table-list:hover{
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease 0s;
}
.table-list ol li {
    color: #6a7d91;
    padding: 8px 0px;
    position: relative;
}
.table-list li.check.cross{
    position: relative;
}
.table-list li.check.cross::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 0;
    background: #999;
    width: 100px;
    height: 2px;
}
.price-btn {
    margin-top: 30px;
}
.price-btn a {
    color: #151b2c;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    border-radius: 2px;
    font-weight: 700;
    font-size: 14px;
    padding: 12px 34px;
    background: #ccc;
    border: 1px solid #ccc;
    display: inline-block;
}
.table-list ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.price-btn a:hover {
    background: #495fd7;
    color: #fff;
    border: 1px solid #495fd7;
    transition: all 0.4s ease 0s;
}
.table-list ol {
    margin-top: 10px ;
}
/*----------------------------------------
 8.Reviews Area Css
----------------------------------------*/
.reviews-area{
    position: relative;
}
.reviews-area{
    position: relative;
}
.single-testi {
    margin: 0px 0px 40px;
    text-align: center;
}
.clients-text {
    padding: 40px 30px;
    position: relative;
    background-color: #fff;
    border:1px solid #f5f5f5;
    border-radius: 4px;
}
.testi-img {
    position: relative;
    margin-top: 30px;
}
.testi-img img {
    width: 100%;
    max-width: 80px;
    height: auto;
    border-radius: 50px;
    border: 1px solid #ccc;
    margin: auto;
}
.guest-details {
    margin-top: 15px;
}
.Reviews-content {
    margin-bottom: 15px;
}
.testi-text h4 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 0px;
}
.testi-text p {
    margin-bottom: 0px;
}
.client-rating {
    margin-bottom: 15px;
}
.testi-text span a{
    color:#495fd7;
}
.testi-text h5 {
    color: #6a7d91;
    font-size: 20px;
}
.client-rating a {
    display: inline-block;
    color: #fec731;
    font-size: 20px;
    padding: 0px 5px 0px 0px;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-controls .owl-dots div.owl-dot > span {
    background: #3d5368 none repeat scroll 0 0;
    display: inline-block;
    height: 8px;
    width: 8px;
    -moz-transition:0.4s;
    -webkit-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
    border-radius: 50%;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-controls .owl-dots {
    bottom: -20px;
    display: block;
    left: 50%;
    margin-left: -40px;
    position: absolute;
}
.testimonial-content {
    margin-bottom: 15px;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-controls .owl-dots div.owl-dot {
    display: inline-block;
    margin: 0 3px;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-controls .owl-dots div.owl-dot.active span {
    background: #495fd7;
    width: 30px;
    border-radius: 3px;
}
/*----------------------------------------*/
/*  9. Blog Area
/*----------------------------------------*/
.blog-area{
  position: relative;
}
.blog-image{
  overflow: hidden;
    display: block;
}
.blog-content {
    background: #f5f5f5;
    padding: 20px;
}
.blog-right-column .blog-image {
    overflow: hidden;
    float: left;
    width: 50%;
}
.blog-right-column .blog-content {
    background: #f9f9f9;
    width: 50%;
    height: 100%;
    min-height: 255px;
    float: left;
    padding: 30px 20px 30px 30px;
}
.blog-content a h4 {
    font-size: 20px;
    text-transform: inherit;
    font-weight: 600;
    color: #151b2c;
    line-height: 28px;
	margin: 10px 0px;
}
.blog-meta span {
    color: #7e8ca0;
    font-size: 14px;
    font-weight: 500;
    padding-right: 10px;
}
.blog-content a h4:hover{
    color:#495fd7;
}
.single-blog {
    margin-bottom: 30px;
    overflow: hidden;
}
.read-more {
    color: #151b2c;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 10px;
}
.blog-content p{
	color:#7e8ca0;
    margin-bottom: 0px;
}
.comments-type i,
.admin-type i,
.date-type i{
    margin-right: 5px;
    color: #495fd7;
}
/*----------------------------------------*/
/*  10. Subscribe Area
/*----------------------------------------*/
.subscribe-area .subs-form {
    padding: 0px 50px 10px;
}
.subscribe-area form#contactForm {
    border-radius: 1px;
    box-shadow: none;
    border:1px solid #ccc; 
}
.subs-form input#name {
    width: 39%;
    display: inline-block;
    border: none;
    border-radius: 3px 0px 0px 3px;
    height: 54px;
    margin-bottom: 0px !important;
    background: transparent;
    color: #151b2c;
}
.subs-form input#email {
    width: 39%;
    display: inline-block;
    border: none;
    border-radius: 0;
    border-left: 1px solid #ccc;
    height: 54px;
    margin-bottom: 0px !important;
    background: transparent;
    color: #fff;
}
.subs-form button#submit {
    width: 20%;
    display: inline-block;
    min-height: 54px;
    background: #fff;
    border: none;
    border-radius: 0px 1px 1px 0px;
    float: right;
    background: #ccc;
    border: 1px solid #ccc;
    color: #151b2c;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.4s;
    margin-top: 0px;
    font-size: 18px;
}
.subscribe-area button#submit:hover {
    background: #495fd7;
    color: #fff;
    transition: 0.4s;
    border: 1px solid #495fd7;
}
/*----------------------------------------*/
/*  11. Footer Area
/*----------------------------------------*/
.footer-1 {
    background:url(img/background/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-area{
    padding: 90px 0px;
}
.footer-logo {
    margin-bottom: 20px;
}
.footer-head p {
    color: #f5f5f5;
}
.footer-head h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 500;
}
.footer-icons ul li {
    display: inline-block;
}
.footer-icons ul li a {
    color: #fff;
    display: block;
    font-size: 15px;
    margin-right: 10px;
}
.footer-tags li a:hover{
    color:#fff;
}
.footer-icons ul li a:hover{
    color: #495fd7;
    transition: 0.4s;
}
.footer-tags {
    display: block;
    overflow: hidden;
}
.footer-tags li {
    float: left;
}
.footer-tags li a {
    color: #f5f5f5;
    display: block;
    font-size: 15px;
    padding: 3px 5px;
}
.footer-icons {
    margin-top: 20px;
}
.footer-list {
    width: 50%;
    float: left;
}
.footer-contacts p span {
    color: #fff;
    font-weight: 700;
}
.footer-list li a {
    color: #f5f5f5;
    padding: 7px 0px 7px 25px;
    display: block;
    position: relative;
    font-weight: 400;
}
.footer-list li a:first-child{
	padding-top: 0px;
}
.footer-list li a::after {
    position: absolute;
    content: "\e88a";
    right: auto;
    font-family: dilorn;
    top: 1px;
    left: 0;
    font-size: 14px;
}
.footer-list li a:hover,
.footer-list li a:hover::after{
    color: #fff;
}
.footer-list li a:hover::after{
    color: #fff;
}
.footer-area-bottom {
    background:#6A80F8;
    padding: 25px 0;
}
.copyright-text a:hover{
	text-decoration: underline;
	color:#fff;
}
.copyright-text a {
    color: #fff;
}
.copyright > p {
    margin-bottom: 0;
    color: #f5f5f5;
}
.copyright a {
    color: #fff;
}
/*----------------------------------------*/
/*  12. Breadcumbs Area
/*----------------------------------------*/
.center-page {
    padding: 0px 20px 0px 20px;
}
.page-area {
    position: relative;
}
.page-area {
    background: url(img/background/bread.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.page-area .section-headline::after {
    display: none;
}
.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    padding: 180px 0px 180px;
}
.breadcrumb h3 {
    color: #151b2c;
    text-transform: capitalize;
    font-size: 34px;
    font-weight: 600;
    line-height: 42px;
    position: relative;
}
.breadcrumb h3::after {
    bottom: -25px;
    position: absolute;
    content: "";
    right: 0;
    background: #151b2c;
    width: 70px;
    height: 2px;
    left: 0;
    margin: auto;
}
.breadcrumb .section-headline {
    margin-bottom: 0px;
    padding-bottom: 40px;
    text-align: center;
}
.breadcrumb ul li {
    display: inline-block;
    color: #151b2c;
    padding: 0px 10px 0px 20px;
    position: relative;
    font-size: 16px;
}
.breadcrumb ul li.home-bread{
    padding-left: 0px;
}
.breadcrumb ul li.home-bread::after {
    position: absolute;
    content: "\f105";
    font-family: fontAwesome;
    right: -10px;
    top: 0;
}
.choose-text {
    margin-top: 50px;
}
.choose-image {
    padding-right: 30px;
}
.choose-area-2 .choose-image{
    padding-left: 30px;
    padding-right: 0px;
}
.btn-about {
    padding: 8px 20px;
    border: 1px solid #ccc;
    background: #ccc;
    color: #151b2c;
    transition: 0.4s;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    margin-top: 20px;
    display: inline-block;
}
.btn-about:hover{
    border: 1px solid #495fd7;
    background: #495fd7;
    color: #fff;
    transition: 0.4s;
}
.review-page .single-testi {
    margin: 0px 0px 30px;
    text-align: center;
}
/*----------------------------------------*/
/*  13. Team Area
/*----------------------------------------*/
.team-area {
    background: #fff;
}
.single-member{
    margin-bottom: 30px;
}
.single-member .team-img {
    display: inline-block;
    position: relative;
    overflow: hidden;
    max-height: 230px;
    max-width: 230px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.team-hover li {
    display: inline-block;
    margin-right: 5px;
}
.team-hover li a {
    color: #151b2c;
    border: 1px solid #f5f5f5;
	background: #f5f5f5;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 32px;
    border-radius:50%;
}
.team-hover li a:hover {
    color: #fff;
    border: 1px solid #495fd7;
    background: #495fd7;
}
.team-hover {
    padding: 15px 0 0px;
    text-align: center;
    transition: all 0.4s ease 0s;
}
.single-member .team-img a {
    display: block;
}
.team-content {
    padding: 10px 0px 0px;
}
.team-content h5 a {
    color: #666;
}
.team-content p {
    margin-bottom: 0;
}
.team-content h5 {
    font-size: 18px;
    margin: 10px 0px;
    text-transform: capitalize;
    font-weight: 600;
}
.team-page-area .single-member {
    margin-bottom: 50px;
}
/*----------------------------------------
14. Login And Register page
----------------------------------------*/
.login-page {
    display: block;
    overflow: hidden;
    border: 1px solid #f9f9f9;
}
.login-area .slide-1 {
    background: #fff;
    height: 100vh;
}
.login-form {
    background: #fff;
    padding: 40px;
    overflow: hidden;
}
.login-image {
    width: 50%;
    float: left;
}
.login-image, .log-inner img {
    height: 100%;
    max-height: 535px;
    object-fit: cover;
}
.login-area form#contactForm {
    border: none;
    border-radius:0;
    box-shadow: none;
    background: #fff;
}
.login-form .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 7px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    min-height: 36px;
    margin-bottom: 20px;
}
.login-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}
.slide-btn.login-btn {
    border: 1px solid #f5f5f5;
    display: inline-block;
    font-weight: 600;
    margin: 0px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    border-radius: 0px;
    background: #f5f5f5;
    color: #151b2c;
    font-size: 16px;
    text-align: left;
}
.slide-btn.login-btn:hover{
    border: 1px solid #495fd7;
    background: #495fd7;
    color: #fff;
    transition: all 0.4s ease 0s;
}
.flex-box{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.check-group {
    position: relative;
    margin: 0px 0px 20px;
}
.check-box{
    color: #151b2c;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 0;
    outline: none;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 0;
}
.check-box-input {
    position: absolute;
    left: 0px;
    top: 0px;
    min-height: 25px;
    height: 26px;
    margin: 0 !important;
    padding: 0 !important;
}
.remember-text {
    color: #151b2c;
    font-weight: 300;
    font-size: 12px;
    left: 25px;
    position: absolute;
    top: 2px;
}
.text-muted {
    font-size: 12px;
    float: right;
    margin-top: 2px;
}
.separetor {
    margin-top: 10px;
}
.separetor span {
    background: #fff;
    position: relative;
    top: 10px;
    padding: 10px 0px 0px;
}
.sign-icon {
    display: block;
    overflow: hidden;
    margin-top: 30px;
    text-align: left;
}
.sign-icon ul li {
    display: inline-block;
    margin: 0px 5px;
}
.sign-icon ul li a {
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    padding: 0px 30px 0px 0px;
    font-weight: 600;
}
.sign-icon ul li a.facebook{
    color: #3B5998
}
.sign-icon ul li a.twitter{
    color: #00ACED
}
.sign-icon ul li a.google{
    color: #C32F10
}
.acc-not {
    font-size: 13px;
    margin-top: 20px;
    font-weight: 600;
}
.signup-form .check-group {
    position: relative;
    margin: 0px 0px 20px;
}
.signup-page .login-image, 
.signup-page .log-inner img {
    height: 100%;
    max-height: 588px;
    object-fit: cover;
}
/*----------------------------------------*/
/*  15. Blog Sidebar Area
/*----------------------------------------*/
.blog-page-area .single-blog {
    padding: 5px;
    background: #fff;
}
.blog-page-area .blog-content{
	padding: 10px 15px 20px;
}
.blog-search-option input {
    padding: 5px 15px;
    width: 80%;
    border: none;
    height: 56px;
    background: transparent;
}
.blog-search-option {
    margin-bottom: 30px;
    display: block;
    background: #fff;
    border: 1px solid #495fd7;
    border-radius: 3px;
}
.blog-search-option button {
    background: transparent;
    border: none;
}
.blog-search-option button i {
    line-height: 16px;
    font-size: 18px;
    padding: 0px 10px;
}
.blog-search-option button i:hover {
    color: #495fd7;
}
.left-blog h4 {
    position: relative;
    color: #3d5368;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 15px 0px;
    text-transform: capitalize;
}
.left-blog h4::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 70px;
    height: 1px;
    background: #495fd7;
}
.blog-left-content .blog-content::after{
    display: none;
}
.left-side {
    padding-right: 40px;
}
.right-side{
    padding-left: 40px;
}
.left-blog {
    overflow: hidden;
    padding-bottom: 20px;
}
.left-blog li {
    display: block;
}
.left-blog ul li a {
    color: #6a7d91;
    display: inline-block;
    font-size: 15px;
    padding: 7px 0px 7px 25px;
    text-transform: capitalize;
    position: relative;
}
.left-blog ul li span {
    float: right;
    border: 1px solid #495fd7;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50px;
    font-size: 13px;
    color: #495fd7;
    line-height: 24px;
}
.pst-content .date-type{
	font-size: 14px;
}
.left-blog ul li a:before {
    position: absolute;
    content: "";
    left: 5px;
    top: 17px;
    background: #495fd7;
    width: 7px;
    height: 7px;
    border-radius: 1px;
}
.popular-tag.left-blog ul li a:before {
    display: none;
}
.recent-single-post {
    display: block;
    overflow: hidden;
    padding: 15px 0px;
}
.recent-single-post:last-child {
    border-bottom: none;
}
.post-img {
    display: inline-block;
    float: left;
    padding-right:10px;
}
.left-blog .post-img a {
    display: block;
    border:1px solid #fafafa; 
}
.left-blog .post-img a img {
    border-radius: 4px;
}
.pst-content {
    padding-left: 100px;
}
.pst-content p{
	margin-bottom: 0px;
}
.pst-content p a:hover,.left-blog ul li a:hover {
    color: #495fd7;
}
.blog-page-area .blog-content {
    background: #f9f9f9;
}
.pst-content p a {
    color: #3d5368;
    font-size: 15px;
}
.blog-tags {
    padding: 1px 0;
}
.recent-single-post img {
	width: 100%;
    max-width: 80px;
	height: 80px;
    object-fit: cover;
    border-radius: 2px;
}
.left-blog li:last-child {
    border-bottom: 0 ;
}
.popular-tag.left-side-tags.left-blog ul {
    padding:0px;
}
.left-tags .left-side-tags ul li {
    border-bottom: 0;
    display: inline-block;
    margin: 5px 3px;
}
.left-tags .left-side-tags ul li a {
    padding: 5px 10px;
    width: auto;
    background: #f4f5f4;
    color: #6a7d91;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
}
.left-tags .left-side-tags ul li a:hover {
	color:#fff;
	background:#495fd7;
}
.left-side-tags h4 {
    margin-bottom: 15px;
}
.blog-side-area .blog-right-column{
	margin-top: -30px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0 0px;
    border-radius: 4px;
}
.pagination>li>a, 
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #6a7d91;
    background-color: #f4f5f5;
    border: none;
    margin-left: -1px;
    border-radius: 2px;
}
.pagination>li {
    display: inline-block;
    margin: 0px 5px 0px 0px;
}
.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus{
    z-index: 3;
    color: #fff;
    background-color: #495fd7;
    cursor: default;
    border-radius: 2px;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #495fd7;
    border-color: #495fd7;
    border-radius: 2px;
}
.blog-left-content{
	margin-top: -30px;
}
.adver-img {
    margin-top: 20px;
}
/*----------------------------------------*/
/*  16. Blog Details
/*----------------------------------------*/
.comments-heading h3, h3.comment-reply-title {
    border-bottom: 1px solid #ddd;
    color: #3d5368;
    font-size: 18px;
    margin: 0 0 40px;
    padding: 0 0 5px;
    text-transform: capitalize;
}
.comments-list ul li{
    margin-bottom: 25px;
}
.comments-list-img{
    float: left;
    margin-right: 15px;
	border-radius: 50%;
	
}
.comments-list-img img {
    border-radius: 50px;
    border: 1px solid #f9f9f9;
}
.comments-content-wrap {
    color: #6a7d91;
    font-size: 14px;
    margin: 0 0 15px 70px;
    padding: 10px;
    position: relative;
}
blockquote {
    padding: 30px 40px 20px 80px;
    margin: 0 0 10px;
    font-size: 15px;
    border-left: none;
    font-style: italic;
    position: relative;
    background: #f5f5f5;
}
blockquote::before {
    position: absolute;
    top: 20px;
    left: 30px;
    content: "\f10d ";
    font-family: fontawesome;
    font-size: 34px;
    color: #6a7d91;
}
blockquote p {
    font-size: 16px !important;
    line-height: 28px;
}
.blog-details .blog-content h5 {
    margin-top: 30px;
}
.author-avatar {
    display: inline-block;
    float: left;
    width: 10%;
}
.author-description h2 {
    color: #3d5368;
    font-size: 20px;
    text-transform: uppercase;
}
.author-description h2 a {
    color: #3d5368;
}
.comments-content-wrap span b{margin-right:5px}
.comments-content-wrap span a:hover{}
span.post-time{margin-right:5px}
.comments-content-wrap p {
    color: #6a7d91;
    margin-top: 10px;
}
.threaded-comments{
	margin-left:50px
}
.comment-respond {
    margin-top: 20px;
}
span.email-notes{
	color: #6a7d91;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}
.comment-respond p {
    color: #6a7d91;
    margin-bottom: 5px;
}
.comment-respond input[type=text],
.comment-respond input[type=email]{
    border: 1px solid #ccc;
    border-radius: 0;
    height: 40px;
    margin-bottom: 15px;
    padding: 0 0 0 10px;
    width: 100%;
	background: transparent;
}
.comment-respond textarea#message-box{
    border: 1px solid #ccc;
    border-radius: 0;
    max-width: 100%;
    padding: 10px;
	height: 160px;
    width: 100%;
	background: transparent;
}
.comments-content-wrap span a {
    color: #495fd7;
}
.comments-content-wrap span a:hover {
    color: #495fd7;
}
.comment-respond .add-btn.contact-btn {
    background: #495fd7;
    color: #fff;
    display: block;
    font-size: 16px;
    margin-top: 5px;
    padding: 10px 20px;
    transition: 0.4s;
    border-radius: 2px;
    width: auto !important;
    margin-top: 20px;
    border: 1px solid #495fd7;
    text-transform: capitalize;
    font-weight: 600;
}
.comment-respond .add-btn.contact-btn:hover{
    background: #fff;
	color: #495fd7;
    border:1px solid #495fd7;
}
.blog-page-details .left-blog-page {
    margin-top:0px;
    margin-bottom:30px;
}
.single-post-comments,
.related-post{
    margin-top: 30px;
}
.left-head-blog .pst-content p{
	margin-bottom: 5px;
}
.blog-details .blog-content h4 {
    font-size: 22px;
    line-height: 34px;
    margin-top: 10px;
    font-weight: 400;
}
.blog-details .blog-content h5 {
    font-size: 20px;
}
.blog-details .blog-content {
    border: 1px solid #f5f5f5;
}
.blog-details .blog-images img {
    width: 100%;
    height: 100%;
    max-height: 450px;
    object-fit: cover;
}
.blog-details .img-blog {
    margin: 30px 0px;
    width: 100%;
    height: 100%;
    max-height: 350px;
    overflow: hidden;
}
.related-post-list .recent-single-post {
    width: 50%;
    float: left;
    padding: 0px 20px 0px 0px;
}
.related-post-list .recent-single-post:last-child{
    padding: 0px 0px 0px 20px;
}
/*----------------------------------------*/
/* 17.Contact CSS
/*----------------------------------------*/
.contact-area {
    height: auto;
    width: 100%;
}
.contact-content {
    padding: 100px;
    background: #000 none repeat scroll 0 0;
}
.contact-content-right {
    padding:100px;
}
.contact-page .contact-form input[type="text"], .contact-form input[type="email"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #3d5368;
    height: 46px;
    margin-bottom: 25px;
    padding-left: 20px;
    width: 100%;
}
.contact-page .contact-form textarea#message {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #3d5368;
    height: 190px;
    padding: 20px;
    width: 100%;
}
.contact-page .contact-form button[type="submit"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #495fd7;
    color: #fff;
    display: block;
    font-size: 18px;
    margin-top: 16px;
    padding: 13px 24px;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
    background: #495fd7;
}
.contact-page .contact-form button[type=submit]:hover{
    color:#495fd7;
    border: 1px solid #495fd7;
    background: #fff;
    transition: all 0.3s ease 0s;
}
.contact-page .single-icon i {
    font-size: 34px;
    width: 80px;
    height: 80px;
    border: 1px solid #495fd7;
    background: #495fd7;
    line-height: 77px;
    border-radius: 50%;
    margin-bottom: 20px;
    color:#fff;
    float: none;
    margin-right: 0px;
}
.contact-page .single-icon p {
    font-size: 16px;
    line-height: 30px;
    color:#555;
}
.contact-page .contact-icon {
    margin-bottom: 80px;
    padding: 50px 30px 30px;
    background: #f5f5f5;
}
.contact-page .single-icon{
    margin-bottom: 0px;
}
/*----------------------------------------*/
/*  18.	Home area-2
/*----------------------------------------*/
.header-area-2 .logo a.black-logo {
    display: block;
}
.header-area-2 .main-menu ul.navbar-nav li a{
    color:#151b2c;
}
.header-area-2 .s-menu {
    border: 1px solid #495fd7;
    background: #495fd7;
    color: #fff;
    transition: 0.4s;
}
.header-area-2 .s-menu:hover{
    border: 1px solid #495fd7;
    background: #fff;
    color: #495fd7;
    transition: 0.4s;
}
.intro-area-2 .layer-1 h2 {
    color: #151b2c;
    font-size: 38px;
    font-weight: 500;
    line-height: 50px;
}
.intro-area-2 .layer-2 p {
    color: #7e8ca0;
}
.intro-area-2 .ready-btn{
    border: 1px solid #495fd7;
    background: #495fd7;
    color: #fff;
    transition: 0.4s;
}
.intro-area-2 .ready-btn:hover{
    border: 1px solid #495fd7;
    background: #fff;
    color: #495fd7;
    transition: 0.4s;
}
.intro-area .video-content {
    display: inline-block;
    margin-left: 40px;
    position: relative;
    top: 5px;
}
.video-play.vid-zone {
    border-radius: 100px;
    display: inline-block;
    border: 1px solid #495fd7;
    text-align: center;
    height: 60px;
    width: 60px;
    line-height: 57px;
    position: relative;
    font-size: 30px;
    background: transparent;
}
.video-play.vid-zone i {
    color: #495fd7;
    margin-left: 5px;
}
.intro-area-2 .intro-content {
    margin-top: -150px;
}
.brand-area-2 .brand-content {
    border-top: none;
    border-bottom: none;
}
.single-service {
    transition: 0.4s;
    margin-bottom:30px; 
}
.service-icon {
    margin-right: 10px;
    float: left;
}
.service-text {
    padding-left: 90px;
}
.single-service h4 {
    font-size: 18px;
    line-height: 26px;
    color: #151b2c;
}
.service-icon a {
    font-size: 40px;
    color: #151b2c;
    line-height: 56px;
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
    display: inline-block;
}
.service-icon a::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0px;
    background: url(img/about/shape-bg.png);
    background-repeat: no-repeat;
    z-index: -1;
    width: 80%;
    height: 80%;
    background-size: cover;
    opacity: 0.1;
}
/*----------------------------------------*/
/*  18.1. FAQ  Area
/*----------------------------------------*/
.company-faq {
    display: block;
    overflow: hidden;
}
.faq-details .panel-heading {
    padding: 0;
}
.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
}
.panel-default {
    border-color: #f5f5f5;
    border-radius: 0 !important;
}
.panel-group .panel+.panel {
    margin-top: 0px;
}
.panel-default > .panel-heading {
    color: #151b2c;
    background: transparent;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border:none;
    background: transparent;
}
.faq-details h4.check-title a {
    color: #151b2c;
    display: block;
    padding: 15px 10px 15px 70px;
    text-decoration: none;
    background: transparent;
}
.panel-body {
    padding: 15px 15px 0px 70px;
}
.faq-details h4.check-title {
    color: #495fd7;
    font-size: 16px;
    margin-bottom: 0px;
    text-transform: capitalize;
    font-weight: 400;
}
.faq-details .panel-heading h4 a{
    position: relative;
}
.faq-details .panel-heading h4 a::before {
    color: #151b2c;
    content:"\e881 ";
    font-family: dilorn;
    font-size: 16px;
    left:0px;
    line-height: 46px;
    position: absolute;
    text-align: center;
    top:6px;
	width: 50px;
    height: 100%;
}
.faq-details .panel-heading h4 a.active::before {
    color: #151b2c;
    content: "\e882";
    font-family: dilorn;
    font-size: 16px;
    left: 0px;
   line-height: 46px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 50px;
    height: 100%;
}
.faq-area .col-md-6{
	padding-left: 0px;
	padding-right: 0px;
}
.faq-area .faq-content {
    margin-left: 80px;
    padding:30px;
    border-radius: 2px;
	border:1px solid #ccc;
    background: #fafafa;
}
.faq-area .contact-form input[type="text"], .faq-area .contact-form input[type="email"] {
    border: 1px solid #ddd;
    border-radius: 0;
    height: 44px;
    margin-bottom: 15px;
    padding-left: 20px;
    width: 100%;
    background: transparent;
     color: #ddd;
}
.faq-content h4{
	color:#151b2c;
	padding-bottom: 20px;
}
.faq-area .faq-content .contact-form textarea#message {
    height: 135px;
    background: transparent;
    color: #ddd;
     border: 1px solid #ddd;
    border-radius: 0;
}
.faq-area .quote-btn {
    font-weight: 600;
    color: #151b2c;
    background: #ccc;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px 20px;
    width: 134px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: 0.4s;
    margin-top: 10px;
}
.faq-area .quote-btn:hover{
	background: #495fd7;
	border: 1px solid #495fd7;
	color: #fff;
	transition: 0.4s;
}
.footer-2 {
    background: url(img/background/bgp4.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.footer-2::after {
    position: absolute;
    content: "";
    background: rgba(255,255,255,0.95) none repeat scroll 0 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
.footer-2 .footer-head h4,
.footer-2 .footer-contacts p span{
    color:#151b2c;
}
.footer-2 .footer-head p,
.footer-2 .footer-list li a,
.footer-2 .footer-tags li a{
    color:#888;
}
.footer-2 .footer-area-bottom {
    background: #fff;
}
.footer-2 .copyright > p{
    color:#151b2c;
}
.footer-2 .copyright a{
    color:#2E46DA;
}
.footer-2 .footer-icons ul li a:hover,
.footer-tags li a:hover,
.footer-2 .footer-list li a:hover, 
.footer-2 .footer-list li a:hover::after{
     color:#2E46DA;
    transition: 0.4s;
}
.footer-2 .footer-icons ul li a {
    color: #888;
}
/*----------------------------------------*/
/*  19.	Home-3  CSS
/*----------------------------------------*/
.intro-area-3 .slide-img {
    margin-right: 50px;
}
.intro-area-3 .layer-1 h2 {
    color: #151b2c;
    font-size: 38px;
    font-weight: 500;
    line-height: 50px;
}
.intro-area-3 .layer-2 p {
    color: #7e8ca0;
    max-width: 470px;
}
.intro-area-3 .layer-1,
.intro-area-3 .layer-2,
.intro-area-3 .layer-3{
    margin-left:50px; 
}
/*--------------------------------*/
/*  19.1. Portfolio Area
/*--------------------------------*/
.portfolio-menu li a {
    color: #777;
    display: inline-block;
    font-size: 15px;
    margin: 0 12px;
    padding: 0px 1px 8px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.portfolio-menu li a.active {
    color: #495fd7;
    text-decoration: none;
}
.portfolio-menu {
    margin-bottom: 10px;
}
.portfolio-menu li a:first-child{
   padding-left:0px; 
   margin-left:0px; 
}
.portfolio-menu li {
    display: inline-block;
}
.portfolio-menu li a:hover {
    color: #495fd7;
    text-decoration: none;
}
.portfolio-single{
    width: 33.34%;
    float: left;
}
.all-padding{
    padding: 15px;
}
.single-awesome-project {
  overflow: hidden;
}
.awesome-img{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.awesome-img::after{
  position: absolute;
  left:0;
  top:0;
  background: rgba(255,255,255,0.50) none repeat scroll 0 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
}
.awesome-img img {
    transform: scale(1.1);
    transition: 0.5s;
}
.single-awesome-project:hover .awesome-img img {
    transform: scale(1);
    transition: 0.5s;
}
.awesome-img > a {
  display: block;
  position: relative;
}
.single-awesome-project:hover .awesome-img > a::after,
.single-awesome-project:hover .awesome-img::after{
	opacity: 1;
}
.single-awesome-project:hover .add-actions{
	opacity: 1;
    top: 50%;
    margin-top: -30px;
}
.awesome-img > a::after {
 background: rgba(255,255,255,0.90) none repeat scroll 0 0;
  content: "";
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  left: 0;
  position: absolute;
  top: 15px;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transition: 0.4s;
}
.add-actions {
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: all 0.4s ease 0s;
  width: 100%;
    z-index: 99;
}
.project-dec {
  display: inline-block;
}
.project-dec h4 {
  margin-bottom: 5px;
}
.project-dec h4 {
    color: #151b2c;
    font-size: 22px;
}
.project-dec a {
    color: #151b2c;
}
.project-dec a:hover {
    color: #495fd7;
}
.project-dec span {
    color: #777;
    font-size: 14px;
    text-transform: capitalize;
}
.project-dec span:hover{
    color:#495fd7;
}
.portfolio-heading {
    font-size: 32px;
    margin: 40px 0 20px;
    text-transform: capitalize;
}
/*----------------------------------------*/
/*  19.2. Contact area css
/*----------------------------------------*/
.contact-area{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.contact-inner {
    display: block;
}
.contact-head {
    padding: 40px;
    background: #f5f5f5;
    margin-right: 70px;
}
.single-icon i {
    float: left;
    color: #495fd7;
    text-align: center;
    font-size: 30px;
    margin-right: 20px;
    line-height: 40px;
}
.single-icon {
    display: block;
    margin-bottom: 30px;
}
.contact-head p {
    font-size: 16px;
    color: #151b2c;
    padding-left: 50px;
}
.contact-form input[type="text"], .contact-form input[type="email"] {
    border: 1px solid #ccc;
    border-radius: 0;
    height: 48px;
    margin-bottom: 15px;
    padding-left: 20px;
    width: 100%;
    background: transparent;
}
.contact-form textarea#message {
    border: 1px solid #ccc;
    border-radius: 0px;
    height: 180px;
    padding: 20px;
    width: 100%;
    background: transparent;
}
.contact-btn {
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: #151b2c;
    display: inline-block;
    font-size: 19px;
    margin-top: 10px;
    padding: 12px 25px;
    transition: 0.4s;
    width: auto;
    float: left;
    border-radius: 2px;
}
.contact-btn:hover {
    background:#495fd7;
    border: 1px solid #495fd7 ;
    color: #fff;
    transition: 0.4s;
}
.footer-3 {
    background: url(img/background/footer1.png);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.footer-3 .footer-head h4,
.footer-3 .footer-contacts p span{
    color:#151b2c;
}
.footer-3 .footer-head p,
.footer-3 .footer-list li a,
.footer-3 .footer-tags li a{
    color:#888;
}
.footer-3 .footer-area-bottom {
    background: #fff;
}
.footer-3 .copyright > p{
    color:#151b2c;
}
.footer-3 .copyright a{
    color:#2E46DA;
}
.footer-3 .footer-icons ul li a:hover,
.footer-tags li a:hover,
.footer-3 .footer-list li a:hover, 
.footer-3 .footer-list li a:hover::after{
     color:#2E46DA;
    transition: 0.4s;
}
.footer-3 .footer-icons ul li a {
    color: #888;
}
/*----------------------------------------*/
/*  20.	Home-4  CSS
/*----------------------------------------*/
.intro-area-4 {
    position: relative;
    overflow: visible;
}
.intro-area-4 .intro-content {
    margin-top: -210px;
}
.intro-area-4 .layer-1 h2 {
    color: #151b2c;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    max-width: 580px;
    margin-left: 0px;
    margin: auto;
}
.intro-area-4 .ready-btn {
    border: 1px solid #f5f5f5;
    color: #151b2c;
    background: #f5f5f5;
}
.intro-area-4 .ready-btn:hover {
    border: 1px solid #495fd7;
    color: #fff;
    background: #495fd7;
}
.intro-area-4 .layer-3{
    margin: 15px 0px 35px;
}
.intro-area-4 .slide-images {
    margin-top: 30px;
}
.brand-area-3{
    margin-top: 200px;
}
.brand-area-3 .brand-content {
    border-top: none;
    border-bottom: none;
}
.fun_text {
    text-align: center;
    position: relative;
}
.fun_text:hover::after {
    transition: 0.4s;
    width: 140px;
}
.fun_text > a {
    color: #151b2c;
    display: inline-block;
    font-size: 40px;
    margin-bottom: 20px;
}
.fun_text .counter-icon {
    color: #151b2c;
    display: block;
    font-size: 56px;
    position: relative;
    z-index: 1;
    width: 100px;
    height: 100px;
    line-height: 60px;
    margin: 0px auto 10px;
}
.fun_text .counter-icon::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0px;
    background: url(img/about/shape-bg.png);
    background-repeat: no-repeat;
    z-index: -1;
    width: 80%;
    height: 80%;
    background-size: cover;
    opacity: 0.1;
}
.fun_text .counter {
    font-size: 30px;
    line-height: 34px;
    color:#151b2c;
}
.fun_text > h4 {
    color: #777;
    font-size: 17px;
    text-transform: capitalize;
}
.fun_text::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -20px;
    background: #151b2c;
    width: 50px;
    height: 2px;
    right: 0;
    margin: 0 auto;
     transition: 0.4s;
}
.fun-content {
    overflow: hidden;
    padding-bottom: 10px;
}
/*--------------------------------*/
/* 21. Home page-5
/*--------------------------------*/
.feature-area,
.feature-area-3{
	position: relative;
}
.top-head {
    width: 50px;
    display: inline-block;
    height: 50px;
    font-size: 26px;
    color: #fff;
    text-align: center;
    line-height: 48px;
    margin-bottom: 20px;
    border: 1px solid #495fd7;
    background:#495fd7;
    border-radius: 3px;
    margin-right: 10px;
}
.feature-text h3 {
    font-size: 28px;
    line-height: 38px;
}
.feature-image{
    margin-left: 50px;
}
.feature-text ul li {
    float: left;
    width: 50%;
}
.feature-text ul li span {
    display: inline-block;
    font-size: 30px;
    margin-right: 15px;
    font-weight: 300;
    width: 70px;
    text-align: center;
    color: #151b2c;
    height: 70px;
    line-height: 60px;
    transition: 0.4s;
    border: 1px solid #ccc;
}
.feature-text ul li a:hover::after{
	color:#fff;
    transition: 0.4s;
    opacity: 1;
}
.feature-text ul li a:hover{
	color:#fff;
}
.feature-text ul li a:hover span {
    background: #fff;
    color: #495fd7;
    transition: 0.4s;
}
.feature-text ul li a {
    color: #666;
    font-size: 17px;
    display: inline-block;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 100%;
    margin-top: 30px;
    font-weight: 400;
    border-radius: 0px 3px 3px 0px;
    transition: 0.4s;
    position: relative;
    z-index: 1;
}
.feature-text ul li a::after{
    position: absolute;
    content:"";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #495fd7;
    border-radius: 30px 3px 3px 30px;
    z-index: -1;
    transition: 0.5s;
    opacity: 0;
}
.feature-text ul li:nth-child(1),
.feature-text ul li:nth-child(3),
.feature-text ul li:nth-child(5){
    padding-right: 15px;
}
.feature-text ul li:nth-child(2),
.feature-text ul li:nth-child(4),
.feature-text ul li:nth-child(6){
    padding-left: 15px;
}
.feature-inner{
    margin-top: 80px;
}
.footer-5 {
    background: #051b35;
}
.footer-5 .footer-area-bottom{
    background: #04182f;
}
.overview-inner {
    padding-right: 40px;
}
.add-content h3 {
    color: #151b2c;
    font-size: 30px;
    line-height: 42px;
    max-width: 730px;
    float: left;
    margin-bottom: 0px;
    margin-top: 18px;
}
.add-contact {
    float: left;
}
.call-us {
    display: block;
    color: #151b2c;
    font-size: 22px;
    margin-bottom: 30px;
}
.mail-us {
    margin-bottom: 0px;
}
.call-us i {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid #495fd7;
    background: #495fd7;
    text-align: center;
    line-height: 46px;
    margin-right: 15px;
    border-radius: 3px;
    color: #fff;
}
.intro-area-5 .slide-img {
    margin-right: 30px;
}
.intro-area-5 .intro-content {
    margin-top: -180px;
}
.intro-area-5 .layer-1 h2 {
    font-size: 38px;
    line-height: 50px;
}
/*--------------------------------*/
/* 22.Home-6 Apps
/*--------------------------------*/
.right-btn {
    margin-left: 30px;
}
.app-btn .ready-btn {
    position: relative;
    padding: 10px 20px 10px 40px;
    width: 140px;
    background: #fff;
    color: #444;
    border: 1px solid #444;
    font-size: 14px;
    transition: 0.4s;
}
.app-btn .ready-btn:hover{
    background: #495fd7;
    color: #fff;
    border: 1px solid #495fd7;
    transition: 0.4s;
}
.app-btn .ready-btn::before{
    position: absolute;
    left: 20px;
    top: 11px;
    font-family: fontawesome;
    font-size: 18px;
    color:#495fd7;
    transition: 0.4s;
}
.app-btn .left-btn::before {
    content: "\f04b";
}
.app-btn .right-btn::before {
    content: "\f179";
}
.intro-area-6 .layer-2 p {
    color: #7e8ca0;
}
.intro-area-6 .layer-1 h2 {
    color: #151b2c;
    font-size: 38px;
    font-weight: 500;
    line-height: 50px;
}
.intro-area-6 .intro-content {
    margin-top: -240px;
}
.app-text {
    margin-top: 130px;
}
.app-btn .ready-btn:hover::before{
    color:#fff;
    transition: 0.4s;
}
.app-wel-area .well-services {
    text-align: left;
}
.app-wel-area .well-services.first-item, 
.app-wel-area .well-services.thired-item {
    position: relative;
    top: 0px;
}
.brand-area-6 {
    margin-top: 100px;
}
.brand-area-6 .brand-content {
    border-top: none;
    border-bottom: 1px solid #ccc;
}
/*--------------------------------*/
/* 22.1.Screenshot Area
/*--------------------------------*/
.screen-carousel .owl-item img{
    border-radius: 20px;
}
.screen-carousel .owl-stage-outer{
    padding: 20px 0px 30px;
}
.screen-carousel .owl-item{
    transform: scale(0.90);
}
.screen-carousel .owl-item{
    opacity: .40;
}
.screen-carousel .owl-item.active.center{
    box-shadow: 0 5px 10px rgba(28,31,71, 0.10), 0 6px 14px rgba(28,31,71, 0.10);
    opacity: 1;
    transform: scale(1);
    border-radius: 20px;
}
.screen-carousel .owl-item.active.center .gallery-item{
    box-shadow: 0 5px 10px rgba(28,31,71, 0.10), 0 6px 14px rgba(28,31,71, 0.10);
    border-radius: 20px;
}
.screen-carousel.owl-carousel.owl-theme .owl-controls .owl-dots div.owl-dot > span {
    background: #6f8097 none repeat scroll 0 0;
    display: inline-block;
    height: 8px;
    width: 8px;
    -moz-transition:0.4s;
    -webkit-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
    border-radius: 50%;
}
.screen-carousel.owl-carousel.owl-theme .owl-controls .owl-dots {
    bottom: 0px;
    display: block;
    left: 50%;
    margin-left: -40px;
    position: absolute;
}
.screen-carousel.owl-carousel.owl-theme .owl-controls .owl-dots div.owl-dot {
    display: inline-block;
    margin: 0 3px;
}
.screen-carousel.owl-carousel.owl-theme .owl-controls .owl-dots div.owl-dot.active span{
    background: #495fd7;
}
.screen-carousel .owl-item .gallery-item .venobox i{
  display: none;
}
.screen-carousel .owl-item.active.center .screen-item{
  position: relative;
}
.screen-carousel .owl-item.center .screen-item .venobox i,
.screen-carousel .owl-item.active .screen-item .venobox i {
    display: block;
    text-align: center;
    font-size: 24px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -20px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #495fd7;
    border-radius: 50%;
    z-index: 2;
    transition: 0.4s;
    opacity: 0;
}
.screen-carousel .owl-item.center .screen-item .venobox i {
    opacity: 1;
}
.down-feature .ready-btn{
    margin-top: 40px;
}
.pricing-area-2 .table-list li.check::before {
    content: "\e87f";
    font-family: dilorn;
    font-size: 18px;
    position: absolute;
    right: 0%;
    top: 9px;
    color: #3EC1D5;
    font-weight: 300;
}
.pricing-area-2 .table-list li.check.cross::before {
    content: "\e880";
    font-family: dilorn;
    color: #FF5B5B;
}
.pricing-area-2 .table-list li.check.cross::after {
    display: none;
}
.footer-2.footer-6 {
    background: url(img/background/footer2.png);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.footer-2.footer-6::after {
    display: none;
}
/*--------------------------------*/
/* 23.Home-7 Personal
/*--------------------------------*/
.intro-area-7{
    position: relative;
    z-index: 1
}
.intro-area-7::after{
    position: absolute;
    content: "";
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.80);
}
.intro-area-7 .layer-2 p {
    font-size: 16px;
    line-height: 28px;
    max-width: 600px;
    color: #ddd;
    margin: 20px auto 20px;
}
.personal-slide h4.title-2 {
    color: #fff;
    letter-spacing: 0.60px;
    font-size: 24px;
    font-weight: 500;
}
.personal-about-image {
    margin-right: 30px;
}
.personal-about-inner h4 {
    font-size: 28px;
    line-height: 40px;
}
/*--------------------------------*/
/* 24.Home-8 Software
/*--------------------------------*/
.intro-area-8::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(26,11,68,0.80);
}
.digital-services{
    width: 20%;
    float: left;
}
.digital-wel {
    text-align: center;
    border:1px solid #ccc;
    background: #fff;
    margin: 0px 15px;
    padding: 30px;
}
.digital-content h4 {
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 30px;
}
.digital-icon {
    font-size: 60px;
    margin-bottom: 20px;
    display: block;
    line-height: 60px;
}
.digital-wel.s1-item:first-child{
    margin-left: 0px;
}
.digital-wel.s5-item:last-child{
    margin-right: 0px;
}
.overview-content {
    margin-left: 50px;
}
.view-single {
    width: 50%;
    float: left;
    text-align: center;
}
.view-inter {
    border: 1px solid #f5f5f5;
    padding: 40px 30px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 3px;
}
.view-inter span {
    font-weight: 600;
    font-size: 38px;
    line-height: 36px;
}
.soft-overview .overview-inner h3 {
    font-size: 26px;
    letter-spacing: 0.60px;
}
.view-inter.blue {
    background: #1346e9;
}
.view-inter.green{
    background: #2fb819;
}
.view-inter.gray{
    background: #f3f3f3;
}
.view-inter.white{
    background: #fff;
}
.view-inter.blue h4,
.view-inter.blue span,
.view-inter.green h4,
.view-inter.green span {
    Color: #fff;
}
.proses-icon a {
    width: 100px;
    height: 100px;
    line-height: 97px;
    font-size: 36px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 30px;
    background:#fff; 
}
.proses-icon {
    position: relative;
    display: inline-block;
}
.point-view {
    width: 40px;
    height: 40px;
    line-height: 37px;
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: -10px;
}
.point-blue .point-view{
    background: #1346e9;
    border: 1px solid #1346e9;
}
.point-orange .point-view{
    background: #b91ca8;
    border: 1px solid #b91ca8;
}
.point-green .point-view{
    background: #2fb819;
    border: 1px solid #2fb819;
}
.point-blue.proses-icon a{
    color:#1346e9;
}
.point-orange.proses-icon a{
    color:#b91ca8;
}
.point-green.proses-icon a{
    color:#2fb819;
}
.proses-text h4 {
    text-transform: capitalize;
    font-size: 20px;
}
.brand-area-8 .brand-content {
    border-top: 1px solid #ccc;
    border-bottom: none;
}
.footer-8 {
    background: #2A148E;
}
.footer-8 .footer-area-bottom{
    background: #240f84;
}
/*--------------------------------*/
/* 25.Home-9 Hosting
/*--------------------------------*/
.intro-area-9::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(41,25,150,0.80);
}
.intro-area-9 .layer-1 h2 {
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
}
.host-sear-area .search-form {
    display: flex;
    border-radius: 999px;
    border:1px solid #ccc;
}
.host-sear-area .search-form input {
    border: none;
    padding: 10px 20px;
    border-radius: 50px 0 0 50px;
    width: calc(100% - (185px));
    height: 60px;
    padding-left: 40px;
}
.host-sear-area .search-form .form-btn {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background: #495fd7;
    padding: 15px 40px;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 185px;
    border-radius: 0 50px 50px 0;
    border: none;
}
.domain-indicate {
    margin-top: 20px;
}
.name-ext {
    word-spacing: 40px;
    margin-left: 15px;
    color: #444;
    font-size: 16px;
}
.search-content p {
    font-size: 16px;
    letter-spacing: 0.50px;
}
.search-content {
    margin-right: 30px;
}
.host-work .proses-icon a {
    width: 140px;
    height: 140px;
    line-height: 140px;
    font-size: 60px;
}
/*--------------------------------*/
/* 25.1. Hosting tab Area
/*--------------------------------*/
.tab-menu {
    display: block;
    padding-bottom: 50px;
    text-align: center;
}
.tab-menu ul.nav {
    margin: 0;
    padding: 10px 0px;
    text-align: center;
    border: none;
    margin-top: 0px;
}
.tab-menu ul.nav li {
    border: medium none;
    display: inline-block;
    float: inherit;
}
.tab-menu ul.nav li a {
    background: transparent;
    border-radius: 3px;
    color: #444;
    display: block;
    margin-right: 0px;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border:1px solid #f9f9f9;
}
.tab-menu ul.nav li.active a{
    color: #fff;
    border: 1px solid #495fd7;
    background:#495fd7 ;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
    color: #444;
    background-color: #495fd7;
    box-shadow: 0 5px 10px rgba(28,31,71, 0.10), 0 6px 14px rgba(28,31,71, 0.10);
    border: none;
    border-bottom-color: transparent;
    cursor: default;
}
.tab-menu .nav-tabs {
    border-bottom: none;
}
.tab-inner {
    padding-top: 40px;
}
.tab-text ul li a {
    color: #444;
    padding: 5px 20px;
    display: block;
}
.tab-text ul li a {
    font-size: 15px;
    color: #888;
    padding: 6px 0px 6px 35px;
    display: block;
}
.tab-text ul li{
   position: relative;
}
.tab-text ul li::after {
    position: absolute;
    left: 0px;
    top: 10px;
    content: "\e87a";
    font-family: dilorn;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background: #495fd7;
}
.host-overview .view-inter {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 0px;
}
.pricing-area-3 .table-list {
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 30px;
}
.pricing-area-3 .table-list li.check::after {
    display: none;
}
.pricing-area-3 .top-price-inner h4 {
    font-size: 20px;
}
.pricing-area-3 .prices {
    padding-right: 0px;
    margin-bottom: 5px;
    display: block;
}
/*--------------------------------*/
/* 26.Home-10 Product Landing
/*--------------------------------*/
.intro-area-10::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(83,50,201,0.50);
}
.intro-area-10 .intro-content {
    margin-top: -180px;
}
.video-play.vid-zone {
    border-radius: 100px;
    display: inline-block;
    border: 1px solid #fff;
    text-align: center;
    height: 60px;
    width: 60px;
    line-height: 57px;
    position: relative;
    font-size: 30px;
    background: #fff;
    color: #495fd7;
}
.self-area {
    background: #f9f9f9 none repeat scroll 0 0;
    display: block;
    overflow: hidden;
    border-radius: 4px;
}
.self-icon {
    transition: all 0.4s ease 0s;
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-bottom: 30px;
    font-size: 50px;
    color: #495fd7;
}
.self-details {
    border: 1px solid #ccc;
    padding: 30px;
    overflow: hidden;
}
.single-self p {
    margin-bottom: 0px;
    padding-left: 65px;
}
.single-self > h4 {
    font-size: 20px;
    text-transform: capitalize;
    color:#444;
}
.product-about-image {
    border-radius: 5px;
    margin-left: 50px;
}
.personal-about-inner h3 {
    font-weight: 600;
    font-size: 30px;
}
/*----------------------------------------*/
/* 26.1.product Area
/*----------------------------------------*/
.single-product {
    border: 1px solid #ddd;
    display: block;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    background: #fff;
}
.sale-text {
    background: #F95329 none repeat scroll 0 0;
    color: #fff;
    padding: 2px 12px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}
.new-text {
    background: #47b729 none repeat scroll 0 0;
    color: #fff;
    padding: 2px 12px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 999;
}
.single-product-img {
    display: block;
    height: auto;
    overflow: hidden;
    padding: 30px;
    width: 100%;
}
.products-details {
    display: block;
    height: auto;
    width: 100%;
}
.product-content {
    margin-bottom: 10px;
}
.owl-carousel .owl-item .products-details img {
    display: inline-block;
    text-align: center;
    width: auto;
}
.add-cart {
    display: block;
    margin: 30px 0 20px;
}
.add-cart a {
    color: #444;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 22px;
    text-transform: capitalize;
    border-radius: 2px;
    background: #ccc;
    transition: 0.4s;
}
.product-name {
    color: #444;
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
.product-name > a:hover{color: #ddd;}
.product-name > a{
    color: #444;
    text-align: center;
}
.pro-rating a {
    color:#FFB549;
    font-size: 16px;
}
.no-rating a:first-child {
    color: #252525;
}
.price-box {
    margin-top: 10px;
}
.price-box span {
    font-weight: normal;
    margin: 0 5px;
}
.price-box .old-price {
    color: #ccc;
    font-size: 16px;
    text-decoration: line-through;
}
.price-box .new-price {
    color: #444;
    font-size: 28px;
    font-weight: 500;
}
.pro-rating {
    margin-bottom: 15px;
}
.add-cart a:hover{
    color: #fff;
    background: #495fd7;
    transition: 0.4s;
}
.product-slide {
    margin-top: 40px;
}
/*----------------------------------------*/
/*  21.	Animation  CSS
/*----------------------------------------*/
.last-item{
    margin-bottom: 0px;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@-webkit-keyframes popcircle {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  99% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
  }
}

@keyframes popcircle {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  99% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
            transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
            transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
            transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
            transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
            transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
            transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
            transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
            transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
}

/*--------------------------------*/
/* .End CSS
/*--------------------------------*/